$font-size: 16px;
$AzulBackgroud: #2c1654;
$Red: #ff6464;
$verde: #00be65;
$amarillo: #fdbf50;
$test: #929292;
body{
  width: 100%;
  font-size: 1.2em;
  margin: auto;
  background-color: $AzulBackgroud;
}
.wrapper{
  background-size: 2em;
  background: url("../../football.png") center center;
  width: 90%;
  margin: auto;
}