$font-size: 16px;
$AzulBackgroud: #2c1654;
$Red: #ff6464;
$verde: #00be65;
$amarillo: #fdbf50;
$test: #4e2424;
body{
  width: 100%;
  font-size: 1.2em;
  margin: auto;
  background-color: $AzulBackgroud;
}
.wrapper{
  width: 90%;
  margin: auto;
}